body {font-family: 'Montserrat',sans-serif;
background-color: #E5E5E5;
}
/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}
/* main content styles */
.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;

}
/* about styles */
.about {
    margin-bottom: 40px;

}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_descrioption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 500px;
}
/* project styles */
.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.projects_list {
    padding: 0;
    margin-left: 15px;
}
.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    color: #000000;
}
.project1,.project_link  {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project_link {
    margin-left: 10px;
}
.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* work styles */
.work {}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px
    }
.date-line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list {
    padding: 0;
    margin-left: 15px; 
}
.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* education styles */
.education {}
.university {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}
.photo {
    width: 370px;
    margin-bottom: 50px;
}
.sidebar_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;

}

.contacts,.tech_skills,.soft_skills {
    margin-left: 40px;
}
.contacts {
    margin-bottom: 50px;

}
.contact_type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}
.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;  
    text-decoration-line: underline;
    color: #8E949C;

}
.tech_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}
.tech_skills_item {
    color:#FB6D3A;
}
.tech_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.tech_skills {
    margin-bottom: 45px;
}
.soft_skills_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}
.soft_skills_item {
    color: #FB6D3A;
}
.soft_skills_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}